@model DAL.Entity.Personnel
@{
    ViewBag.Title = "BringPersonnel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">

                <br />
             
                @Html.LabelFor(x => x.ID)
                @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })

                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required" })

                @Html.LabelFor(x => x.Surname)
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", required = "required" })

                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required" })

                @Html.LabelFor(x => x.PhoneNumber)
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", required = "required" })

                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "required" })

                @Html.LabelFor(x => x.Address)
                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", required = "required" })
            </div>
            <div>
                <button class="btn btn-warning">Update Product</button>
            </div>
        </div>

    </div>
}